#login-dummy {
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  float: left;
  box-sizing: border-box;
}

#login-config-fields {
  float: left;
  width: 50%;
}
.login-button-preview {
  background: #fff url(/themes/bartik/images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.ui-dialog .ui-dialog-content {
  border: 0;
  padding: .5em 1em;
  background: #e0e0d8;
  overflow: auto;
  zoom: 1;
}
